/* main {
  display: flex;
} */

.header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.saved-routes-container {
  margin: 75px;
}

.landing-page-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* padding: 10px;
border: 2px steelblue solid;
border-radius: 13px;
background-color: #ccc;
margin-right: 15px; */
