main {
  background: rgb(244, 252, 239);
  color: rgb(35, 39, 34);
}

.header {
  display: flex;
  justify-content: center;
  margin: auto;
  background: rgb(12, 133, 12);
  width: 50%;
}

.header-text {
  color:rgb(35, 39, 34);
}

.landing-page-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mapBox {
  width: 90%;
  margin: auto;
}

.addRouteButton {
  margin-top: 2px;
  margin-left: 5%;
}

.saved-routes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: 5%;
  margin-left: 5%;
  width: 85%;
  padding: 5px;
}


/* padding: 10px;
border: 2px steelblue solid;
border-radius: 13px;
background-color: #ccc;
margin-right: 15px; */
