.route-description-section {
  padding: 4px;
  border-radius: 13px;
  background-color: rgb(219, 228, 215);
}

@media only screen and (min-width: 800px) { /*desktop styles*/
  /* .route-description {
    width: 50%;  
  }   */
}